{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Reset Analytics' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ backActionButton(app.request.headers.get('referer'), 'Back' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            <p>
                {{ 'If you want to start fresh with a new setup in Analytics, keep these critical points in mind:' | trans }}
            </p>
            <ul>
                <li>{{ 'Resetting Analytics restores all default assets (dashboards, analyses, datasets) to their original state, erasing any modifications you\'ve made.' | trans }}</li>
                <li>{{ 'The user performing the reset becomes the owner of the default assets, and all other users lose access to them.' | trans }}</li>
                <li>{{ 'Custom assets created by other users remain under their ownership.' | trans }}</li>
                <li>{{ '<b>IMPORTANT:</b> If you or other authors use default datasets in custom analyses, such analyses won\'t be able to access data for all visuals. To avoid this, duplicate the relevant default datasets and associate them with the custom analyses before proceeding.' | trans | raw }}</li>
            </ul>
            <div>
                {{ form_start(resetAnalyticsForm) }}
                    {{ viewActionButton(app.request.headers.get('referer'), 'Cancel' | trans) }}
                    <button class="btn btn-danger spacing-left safe-submit"> {{ 'Reset Analytics' | trans }} </button>
                {{ form_end(resetAnalyticsForm) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
