{# @var quicksightGenerateEmbedUrlResponse \Generated\Shared\Transfer\QuicksightGenerateEmbedUrlResponseTransfer #}
{# @var quicksightAssetBundleImportJob \Generated\Shared\Transfer\QuicksightAssetBundleImportJobTransfer #}

{% if quicksightAssetBundleImportJob and quicksightAssetBundleImportJob.errors | length %}
    <div class="alert alert-danger" role="alert">
        {{ quicksightAssetBundleImportJob.isInitialized
            ? 'An error occurred during the Analytics reset. Please try again by clicking the "Reset Analytics" button.' | trans
            : 'An error occurred during the Analytics activation. Please try again by clicking the "Enable Analytics" button.' | trans
        }}
    </div>
    {% for error in quicksightAssetBundleImportJob.errors %}
        <div class="alert alert-danger" role="alert">{{ error.message }}</div>
    {% endfor %}
{% endif %}

{% if isEnableAnalyticsAllowed %}
    <div class="analytics">
        <div class="analytics__icon"><i class="fa fa-chart-bar"></i></div>

        <div class="analytics__content">
            <h3 class="analytics__heading">{{ 'Analytics is not enabled yet' | trans }}</h3>
            <p>{{ 'You can enable Analytics to view and modify dashboards with the ability to share them with other users. ' | trans }}</p>
        </div>

        <div class="analytics__button">
            {{ viewActionButton(url('/amazon-quicksight/analytics/enable'), 'Enable Analytics' | trans) }}
        </div>
    </div>
{% elseif isDisplayAnalyticsAllowed %}
    {% if quicksightGenerateEmbedUrlResponse.errors | length %}
        {% for error in quicksightGenerateEmbedUrlResponse.errors %}
            <div class="alert alert-danger" role="alert">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
    {% if quicksightGenerateEmbedUrlResponse.embedUrl is not null and quicksightGenerateEmbedUrlResponse.embedUrl.url is not null %}
        <div id="experience-container" style="height: calc(100vh - 55px)" data-embed-url="{{ quicksightGenerateEmbedUrlResponse.embedUrl.url | raw }}"></div>

        <script src="{{ assetsPath('js/spryker-zed-quicksight-analytics-gui-main.js') }}"></script>
    {% endif %}
{% elseif isAssetBundleInitializationInProgress %}
    <div class="alert alert-info" role="alert">{{ 'Analytics is being activated. Please wait 3-5 minutes and reload the page.' | trans }}</div>
{% else %}
    <div class="alert alert-info">
        {{ 'No Analytics permission has been granted to the current user.' | trans }}
    </div>
{% endif %}
